extends ../_layout

block active
  - sidebar_active = 'dashboard.html'

block content
  .content-heading
    block content
      h3 Panels

      .container-fluid
        // START row
        .row
          .col-lg-12
            // START panel
            #panelDemo1.panel.panel-default
              .panel-heading
                | Collapsible Panel
                a(href="#", data-tool="panel-collapse", data-toggle="tooltip", title="Collapse Panel").pull-right
                  em.fa.fa-minus
              .panel-wrapper.collapse.in
                .panel-body
                  form.form-horizontal(method='get', action="/")
                    fieldset.last-child
                      .form-group
                        label.col-sm-2.control-label Select
                        .col-sm-10
                          select.form-control.m-b(name='account')
                            option Conexiones
                            option Demográfico
                            option Resúmen Demográfico
                            option Campañas
            // END panel
        // END row

      // START row
      .row
        .col-lg-4
          .well
            h4 Normal Well
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
      // END row
