extends ../_layout

block active
  - sidebar_active = 'dashboard.html'

block content
  .content-heading
    block content
      h3 Panels

      .container-fluid
        // START row
        .row
          .col-lg-12
            // START panel
            #panelDemo1.panel.panel-default
              .panel-heading
                | Collapsible Panel
                a(href="#", data-tool="panel-collapse", data-toggle="tooltip", title="Collapse Panel").pull-right
                  em.fa.fa-minus
              .panel-wrapper.collapse.in
                .panel-body
                  form.form-horizontal(method='get', action="/")
                    fieldset.last-child
                      .form-group
                        label.col-sm-2.control-label Select
                        .col-sm-10
                          select.form-control.m-b(name='account')
                            option Conexiones
                            option Demográfico
                            option Resúmen Demográfico
                            option Campañas
            // END panel
        // END row

        // START row
        .row
          .col-lg-6
            .panel.panel-default
              .panel-heading
                | Routers
                .input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-default(type='button') Go!
              .panel-body
                .table-responsive
                  table.table.table-striped
                    tbody
                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox')
                              span.fa.fa-check
                        td Grupo DGSA
                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox')
                              span.fa.fa-check
                        td La Pizzada
                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox')
                              span.fa.fa-check
                        td YPF
          .col-lg-6
            .panel.panel-default
              .panel-heading
                | Grupos
                .input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-default(type='button') Go!
              .panel-body
                .table-responsive.table-routers
                  table.table.table-striped
                    tbody
                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='247' name='Dandy - Acassuso - Todo' value='247')
                              span.fa.fa-check
                          //  id uniform-247
                        td Dandy - Acassuso - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='227' name='Dandy - Belgrano - Todo' value='227')
                              span.fa.fa-check
                          //  id uniform-227
                        td Dandy - Belgrano - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='136' name='Dandy - Palermo - Todo' value='136')
                              span.fa.fa-check
                          //  id uniform-136
                        td Dandy - Palermo - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='210' name='Dandy - Palermo - Todo' value='210')
                              span.fa.fa-check
                          //  id uniform-210
                        td Dandy - Palermo - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='211' name='Dandy - Retiro - Todo' value='211')
                              span.fa.fa-check
                          //  id uniform-211
                        td Dandy - Retiro - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='216' name='Dandy Grill - Belgrano - Todo' value='216')
                              span.fa.fa-check
                          //  id uniform-216
                        td Dandy Grill - Belgrano - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='218' name='Dandy Grill - Belgrano - Todo' value='218')
                              span.fa.fa-check
                          //  id uniform-218
                        td Dandy Grill - Belgrano - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='217' name='Dandy Grill - Palermo - Todo' value='217')
                              span.fa.fa-check
                          //  id uniform-217
                        td Dandy Grill - Palermo - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='373' name='Demo YPF - Cisco - Todo' value='373')
                              span.fa.fa-check
                          //  id uniform-373
                        td Demo YPF - Cisco - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='372' name='Demo YPF - YPF - Todo' value='372')
                              span.fa.fa-check
                          //  id uniform-372
                        td Demo YPF - YPF - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='206' name='Kentucky - Abasto - Todo' value='206')
                              span.fa.fa-check
                          //  id uniform-206
                        td Kentucky - Abasto - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='203' name='Kentucky - Anchorena - Todo' value='203')
                              span.fa.fa-check
                          //  id uniform-203
                        td Kentucky - Anchorena - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='74' name='Kentucky - Boedo - Todo' value='74')
                              span.fa.fa-check
                          //  id uniform-74
                        td Kentucky - Boedo - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='207' name='Kentucky - Caballito - Todo' value='207')
                              span.fa.fa-check
                          //  id uniform-207
                        td Kentucky - Caballito - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='138' name='Kentucky - Camacua - Todo' value='138')
                              span.fa.fa-check
                          //  id uniform-138
                        td Kentucky - Camacua - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='71' name='Kentucky - Camacua - Todo' value='71')
                              span.fa.fa-check
                          //  id uniform-71
                        td Kentucky - Camacua - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='102' name='Kentucky - Camacua - Todo' value='102')
                              span.fa.fa-check
                          //  id uniform-102
                        td Kentucky - Camacua - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='229' name='Kentucky - Camacua - Todo' value='229')
                              span.fa.fa-check
                          //  id uniform-229
                        td Kentucky - Camacua - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='264' name='Kentucky - Camacua - Todo' value='264')
                              span.fa.fa-check
                          //  id uniform-264
                        td Kentucky - Camacua - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='212' name='Kentucky - Caseros - Todo' value='212')
                              span.fa.fa-check
                          //  id uniform-212
                        td Kentucky - Caseros - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='92' name='Kentucky - Coronel Diaz - Todo' value='92')
                              span.fa.fa-check
                          //  id uniform-92
                        td Kentucky - Coronel Diaz - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='271' name='Kentucky - Costa Rica - Todo' value='271')
                              span.fa.fa-check
                          //  id uniform-271
                        td Kentucky - Costa Rica - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='220' name='Kentucky - Devoto - Todo' value='220')
                              span.fa.fa-check
                          //  id uniform-220
                        td Kentucky - Devoto - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='146' name='Kentucky - Godoy Cruz - Todo' value='146')
                              span.fa.fa-check
                          //  id uniform-146
                        td Kentucky - Godoy Cruz - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='143' name='Kentucky - Hollywood - Todo' value='143')
                              span.fa.fa-check
                          //  id uniform-143
                        td Kentucky - Hollywood - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='142' name='Kentucky - Juramento - Todo' value='142')
                              span.fa.fa-check
                          //  id uniform-142
                        td Kentucky - Juramento - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='248' name='Kentucky - Lacroze - Todo' value='248')
                              span.fa.fa-check
                          //  id uniform-248
                        td Kentucky - Lacroze - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='201' name='Kentucky - Libertad - Todo' value='201')
                              span.fa.fa-check
                          //  id uniform-201
                        td Kentucky - Libertad - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='204' name='Kentucky - Medrano - Todo' value='204')
                              span.fa.fa-check
                          //  id uniform-204
                        td Kentucky - Medrano - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='46' name='Kentucky - Mitre - Todo' value='46')
                              span.fa.fa-check
                          //  id uniform-46
                        td Kentucky - Mitre - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='209' name='Kentucky - Odeon - Todo' value='209')
                              span.fa.fa-check
                          //  id uniform-209
                        td Kentucky - Odeon - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='205' name='Kentucky - Once - Todo' value='205')
                              span.fa.fa-check
                          //  id uniform-205
                        td Kentucky - Once - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='208' name='Kentucky - Otamendi - Todo' value='208')
                              span.fa.fa-check
                          //  id uniform-208
                        td Kentucky - Otamendi - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='145' name='Kentucky - Pacifico - Todo' value='145')
                              span.fa.fa-check
                          //  id uniform-145
                        td Kentucky - Pacifico - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='199' name='Kentucky - Paraguay - Todo' value='199')
                              span.fa.fa-check
                          //  id uniform-199
                        td Kentucky - Paraguay - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='221' name='Kentucky - Premiere - Todo' value='221')
                              span.fa.fa-check
                          //  id uniform-221
                        td Kentucky - Premiere - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='202' name='Kentucky - Propizio - Todo' value='202')
                              span.fa.fa-check
                          //  id uniform-202
                        td Kentucky - Propizio - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='198' name='Kentucky - Reconquista (Lavalle) - Todo' value='198')
                              span.fa.fa-check
                          //  id uniform-198
                        td Kentucky - Reconquista (Lavalle) - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='505' name='Kentucky - San Cristobal - Todo' value='505')
                              span.fa.fa-check
                          //  id uniform-505
                        td Kentucky - San Cristobal - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='213' name='Kentucky - San Isidro - Todo' value='213')
                              span.fa.fa-check
                          //  id uniform-213
                        td Kentucky - San Isidro - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='140' name='Kentucky - San Miguel - Todo' value='140')
                              span.fa.fa-check
                          //  id uniform-140
                        td Kentucky - San Miguel - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='225' name='Kentucky - San Telmo - Todo' value='225')
                              span.fa.fa-check
                          //  id uniform-225
                        td Kentucky - San Telmo - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='200' name='Kentucky - Serrano - Todo' value='200')
                              span.fa.fa-check
                          //  id uniform-200
                        td Kentucky - Serrano - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='144' name='Kentucky - Thames (Rural) - Todo' value='144')
                              span.fa.fa-check
                          //  id uniform-144
                        td Kentucky - Thames (Rural) - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='97' name='Kentucky - Tucumán - Todo' value='97')
                              span.fa.fa-check
                          //  id uniform-97
                        td Kentucky - Tucumán - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='139' name='Kentucky - Urquiza - Todo' value='139')
                              span.fa.fa-check
                          //  id uniform-139
                        td Kentucky - Urquiza - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='64' name='La Pizzada - Tucumán - Sector 1' value='64')
                              span.fa.fa-check
                          //  id uniform-64
                        td La Pizzada - Tucumán - Sector 1

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='65' name='La Pizzada - Tucumán - Sector 2' value='65')
                              span.fa.fa-check
                          //  id uniform-65
                        td La Pizzada - Tucumán - Sector 2

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='219' name='Rond Point - Camacua - Todo' value='219')
                              span.fa.fa-check
                          //  id uniform-219
                        td Rond Point - Camacua - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='772' name='Rond Point - Palermo - Todo' value='772')
                              span.fa.fa-check
                          //  id uniform-772
                        td Rond Point - Palermo - Todo

                      tr
                        td
                          .checkbox.c-checkbox
                            label
                              input(type='checkbox' id='374' name='YPF - OPESSA Melo - Todo' value='374')
                              span.fa.fa-check
                          //  id uniform-374
                        td YPF - OPESSA Melo - Todo
      // END row
