extends ../_layout

block active
  - sidebar_active = 'dashboard.html'

block content
  .content-heading
    block content
      h3 Suscripciones

      .container-fluid
        // START row
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                | Suscripciones
              .panel-body
                .table-responsive
                  table.table.table-striped
                    thead
                      tr
                        th Tipo
                        th Nombre
                        th Período
                        th Frecuencia
                        th Destinatario
                        th Routers
                        th Próximo envío
                        th Último envío
                    tbody
                      tr
                        td Conexiones
                        td test
                        td Quincenal
                        td Quincenal
                        td leonescarlos@gmail.com
                        td 0
                        td 15/12/2017
                        td
                        td
                          a(href='#')
                            i.fa.fa-lg.fa-pencil
                          a(href='#')
                            i.fa.fa-lg.fa-trash
              .panel-footer
                .row
                  .col-lg-2.text-left
                    ul.pagination.pagination-sm
                      li.active: a(href='#') 1
                      li: a(href='#') 2
                      li: a(href='#') 3
                      li: a(href='#') »
      // END row
